@font-face {
    font-family: 'monster_hunterregular';
    src: url('font/monster_hunter.woff2') format('woff2'),
         url('font/monster_hunter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
body {
  background: url(images/bg.jpg)
}
main {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header {
  padding: 0px;
  margin: 10px;
}

button {
  display: block;
  font-family: monster_hunterregular;
  font-size: 30px;
  background: url(images/bg.jpg);
  color: red;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
fieldset {
  border: none;
}
.card {
  border: 1px solid white;
  box-shadow 100px 100px 50px black;
  background: grey;
  padding-top: 20px;
  padding-bottom: 30px;
}

.answer {
  font-family: 'Crimson Text', serif;
  display: block;
}

li {
  font-family: 'Crimson Text', serif;
  font-size: calc(2vw + .5vw);
  display: inline;
  list-style: none;
	color: white;
  padding: 0px 20px 0px 20px;
}

h1 {
  font-family: monster_hunterregular;
	font-size: calc(7vw + .5vw);
	color: white;
  margin: 2px;
}

input{
  text-size: 20px;
}

.js-answer-choices {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  font-family: 'Crimson Text', serif;
  color: light grey;
  font-size: calc(1vw +.5vw);
}

