:root {
  --rust: #201615;
  --darkishred: #690d17;
  --monred: #B80000;
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@font-face {
    font-family: 'monster_hunterregular';
    src: url('font/monster_hunter.woff2') format('woff2'),
         url('font/monster_hunter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background: url(images/bg.jpg);
  background-position: center center;
}
/*=============MONSTER CALLS==============*/
.popin-mon {
  opacity: 0;
  width: 50%;
  position: absolute;
  top: 5%;
}

.rath {
  right: 10%;
  top: -10%;
}

.diablos {
  left: -10%;
  top: -20%;

}

.rathian {
  left: 20%;
  top: -40%;
}

.mon4 {
 right: 0%; 
 top: -15%;
}

.mon5 {
  top: -20%;
  left: 20%;

}
/*=================MONSTER END==============*/

main {
  position: fixed;
  text-align: center;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  padding: 0px;
  margin: 0px;
}

button {
  font-family: 'monster_hunterregular';
  font-size: 20px;
  display: block;
  padding: 10px;
  color: var(--monred);
  border: 1px solid var(--monred);
  background-color: black;
  background-image: url(/images/mon.png);
  margin: 10px auto 5px auto;
}

button:hover {
  color: black;
  background-color: var(--darkishred);
}

.scorecard {
  text-shadow: 0px 0px 3px black;
  font-size: 15px;
  padding: calc(3px + .2vw);
}

.card {
  background: #302423;
  border: 1px solid #690d17;
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5vw;
  padding-left: 5vw;
}

.cat {
  height: 30vh;
  margin: 5px auto 5px auto;
  display: block;
}

fieldset {
  border: none;
}

.answer {
  font-family: 'Crimson Text', serif;
  display: block;
}

.option {
 font-size: calc(11px + .5vw); 
 color: white;
}


li, p {
  font-family: 'Crimson Text', serif;
  font-size: calc(11px + .5vw);
  display: inline;
  list-style: none;
	color: white;
  padding: 10px 0px 10px 0px;
}

h1 {
  font-family: monster_hunterregular;
	font-size: calc(30px + 5vw);
	color: white;
  margin: 2px;
  text-shadow: 1px 1px 5px black;
}

.score {
  color: var(--monred);
  display: block;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	display: inline-block;
	position: relative;
	background-color: #201615;
	color: #666;
	top: 5px;
	height: 20px;
	width: 20px;
	border: 1px solid var(--monred);
	border-radius: 50px;
	cursor: pointer;     
	margin-right: 7px;
	outline: none;
}

.radio:hover {
     background-color: var(--darkishred);
}

.radio:checked {
     background-color: var(--monred);
}

/*@media (max-width: 700px){
  .popin-mon {
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 10%;
  }
  .rath {
    right: 10%;
  }
  .diablos {
    left: -10%;
  }
  .rathian {
    left: 20%;
  }
  .mon4 {
   right: 0%; 
  }
  .mon5 {
    left: 20%;
  }
}*/
@media (max-width: 700px){
  .popin-mon {
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 50%;
    -moz-top: 10%;
  }
  .rath {
    right: 10%;
  }
  .diablos {
    left: -10%;
  }
  .rathian {
    left: 20%;
  }
  .mon4 {
   right: 0%; 
  }
  .mon5 {
    left: 20%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 800px) {
  .popin-mon {
		top: 25%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 800px) {
  .popin-mon {
		top: 10%;
  }
}
